{# The DS 2509 site's client unauthorised Page #}
{# Inherit code from the base template #}

{% extends 'base.html' %}

{# specify the page title #}
{% block page_title %} 401 Unauthorised {% endblock page_title %}
{% block page_heading %} 401 Unauthorised {% endblock page_heading %}

{% block page_content %}
    <p><strong>Unauthorised:</strong> you must log in to access/view this page <br/></p>
    {#Redirect the user to the site's Home page#}
    <a href="{{ url_for('index') }}">Return to home</a>
    {# TODO: Redirect the user to the login/sign in page #}
{% endblock page_content %}