{# The DS 2509 client 503 - Service Unavailable page #}
{# Inherit code from the base template #}

{% extends 'base.html' %}

{# specify the page title #}
{% block page_title %} 503 Service Unavailable {% endblock page_title %}
{% block page_heading %} Service Unavailable {% endblock page_heading %}

{% block page_content %}
    <p>Oops😲!!Sorry, the service is currently unavailable.<br/>Our servers are currently undergoing maintenance or temporarily overloaded.</p>
    <p>Please try again later.</p>
    {#Redirect the user to the site's Home page#}
    <a href="{{ url_for('index') }}">Return to home</a>
{% endblock page_content %}