{# The DS 2509 site's products catalogue page #}
{# Inherit code from the base template #}

{% extends 'base.html' %}

{# specify the page title #}
{% block page_title %} Product List {% endblock page_title %}
{% block page_heading %} Welcome to the Product Catalogue📄 {% endblock page_heading %}

{% block page_content %}
    {# Display the list of products #}
    <ul>
        {% for product in products %}
            <li>{{ product.name }}: Kes. {{ product.price }}</li>
            {# Conditionally display the edit and delete products #}
            {% if current_user.is_authenticated %}
                {# Show manager/admin links only#}
                {% if current_user.is_admin_or_manager() %}
                    <a href="{{url_for('edit_product', id=product.id)}}">Edit</a>&nbsp;&nbsp;&nbsp;
                    <form action="{{url_for('delete_product', id=product.id)}}" method="post">
                        <button type="submit"
                        onclick="return confirm('Are you sure you want to delete {{ product.name }}?')">
                            Delete
                        </button>
                    </form>
                {%endif%}

            {% endif %}
        {% endfor %}
    </ul>
    <a href="{{url_for('add_product')}}">Add a new product</a>
{% endblock page_content %}